<div class='container'>
  <div class='container__button'>
    <tm-button-icon
      size='small'
      (action)='onClose()'>
      <span icon class='material-icons-outlined container__button--icon'>close</span>
    </tm-button-icon>
  </div>
  <h3 class='container__title'>{{ data.isEdit ? 'Edit task' : 'Add task'}}</h3>
  <div class='container__description'>List type: <span>{{ data.type | taskStatusToText }}</span></div>

  <form [formGroup]='formGroup' (ngSubmit)='handleSubmit()' class='form'>
    <mat-dialog-content>
      <div class='form__field'>
        <tm-input
          label='Name'
          formControlName='name'
        ></tm-input>
      </div>
      <div class='form__field'>
        <tm-textarea
          label='Description'
          formControlName='description'
        ></tm-textarea>
      </div>
      <div class='form__field'>
        <tm-input
          label='Priority'
          formControlName='priority'
          type='number'
          [errorMessage]='priorityErrorMessage'
        ></tm-input>
      </div>
    </mat-dialog-content>

    <div class='form__action'>
      <tm-button
        type='submit'
        [label]="data.isEdit ? 'Update' : 'Create'"
        size='large'
      ></tm-button>
    </div>
  </form>
</div>
