<div class='page'>
  <tm-timers-header (onAdd)='handleAddTimer()'></tm-timers-header>
  <section class='page__filter'>
    <tm-filter [data]='filterItems$ | async'></tm-filter>
  </section>
  <section>
    <ng-container *ngFor='let timer of timers$ | async'>
      <div class='page__timer'>
        <tm-timer
          (onDelete)='handleDeleteTimer(timer)'
          (onEdit)='handleEditTimer(timer)'
          [timer]='timer'
        ></tm-timer>
      </div>
    </ng-container>
  </section>
</div>
