<div class='page'>
  <tm-timers-header (onAdd)='handleAddTimer()'></tm-timers-header>
  <section class='page__filter'>
    <tm-filter [data]='filterItems$ | async'></tm-filter>
  </section>
  <section>
    <ng-container *ngFor='let timer of (timers$ | async)?.items; let first = first'>
      <div class='page__timer'>
        <tm-timer
          (onDelete)='handleDeleteTimer(timer)'
          (onEdit)='handleEditTimer(timer)'
          [timer]='timer'
        ></tm-timer>
      </div>
    </ng-container>
    <div class='page__pagination'>
      <tm-pagination [itemCount]='(timers$ | async)?.totalResults' [pageSize]='pageSize'></tm-pagination>
    </div>
  </section>
</div>
