<label class='input'>
  <div class='input__label'>
    {{ label }}
    <div (clickOutside)='handlePopover(null, false)'
         *ngIf='popoverMessage'
         csClickOutside
         [isActive]='isPopoverVisible'
         class='input__label--help'
    >
      <span (click)='handlePopover($event, null)' class='material-icons-round'>help_outline</span>
      <div *ngIf='isPopoverVisible' class='input__popover'>
        {{ popoverMessage }}
      </div>
    </div>
  </div>
  <span [ngClass]="{'input--invalid': showError}" class='input__input'>
    <span *ngIf='icon' class='material-icons-round'>{{icon}}</span>
    <ng-container [ngSwitch]='type'>
      <ng-container *ngSwitchCase="'number'">
        <input
          (blur)='onTouch()'
          (input)='onChange($any($event.target).value)'
          [autocomplete]='autocomplete'
          [type]='type'
          [valueAsNumber]='value'
        />
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <input
          (blur)='onTouch()'
          (input)='onChange($any($event.target).value)'
          [autocomplete]='autocomplete'
          [type]='type'
          [valueAsDate]='value'
        />
      </ng-container>
      <ng-container *ngSwitchDefault>
        <input
          (blur)='onTouch()'
          (input)='onChange($any($event.target).value)'
          [autocomplete]='autocomplete'
          [type]='type'
          [value]='value'
        />
      </ng-container>
    </ng-container>
  </span>
  <ng-container *ngFor='let error of formErrorMessages'>
    <div *ngIf='control?.hasError(error.type) && showError' class='input__error'>
      {{ errorMessage || error.message }}
    </div>
  </ng-container>

</label>
