<div cdkDropListGroup class='page'>
  <div class='tasks__container'>
    <tm-tasks-list-header
      title='Todo'
      (onAdd)='handleAddTask(tasksStatusEnum.ToDo)'
    ></tm-tasks-list-header>

    <div
      cdkDropList
      [id]='tasksStatusEnum.ToDo'
      [cdkDropListData]='todoTasks$ | async'
      class='tasks__container--list'
      (cdkDropListDropped)='handleDropTask($event)'>
      <ng-container *ngFor='let item of todoTasks$ | async;'>
        <tm-task
          [task]='item'
          (onEdit)='handleEditTask(item)'
          (onDelete)='handleDeleteTask(item)'
        ></tm-task>
      </ng-container>
      <ng-container *ngIf='todoTasksLoadMore$ | async'>
        <tm-load-more-button (onLoad)='handleLoadMore(tasksStatusEnum.ToDo)'></tm-load-more-button>
      </ng-container>
    </div>
  </div>

  <div class='tasks__container'>
    <tm-tasks-list-header
      title='In Progress'
      (onAdd)='handleAddTask(tasksStatusEnum.InProgress)'
    ></tm-tasks-list-header>

    <div
      cdkDropList
      [id]='tasksStatusEnum.InProgress'
      [cdkDropListData]='inProgressTasks$ | async'
      class='tasks__container--list'
      (cdkDropListDropped)='handleDropTask($event)'
    >
      <ng-container *ngFor='let item of inProgressTasks$ | async'>
        <tm-task
          [task]='item'
          (onEdit)='handleEditTask(item)'
          (onDelete)='handleDeleteTask(item)'
        ></tm-task>
      </ng-container>
      <ng-container *ngIf='inProgressTasksLoadMore$ | async'>
        <tm-load-more-button (onLoad)='handleLoadMore(tasksStatusEnum.InProgress)'></tm-load-more-button>
      </ng-container>
    </div>
  </div>

  <div class='tasks__container'>
    <tm-tasks-list-header
      title='Done'
      (onAdd)='handleAddTask(tasksStatusEnum.Done)'
    ></tm-tasks-list-header>

    <div
      cdkDropList
      [id]='tasksStatusEnum.Done'
      [cdkDropListData]='doneTasks$ | async'
      class='tasks__container--list'
      (cdkDropListDropped)='handleDropTask($event)'
    >
      <ng-container *ngFor='let item of doneTasks$ | async'>
        <tm-task
          [task]='item'
          (onEdit)='handleEditTask(item)'
          (onDelete)='handleDeleteTask(item)'
        ></tm-task>
      </ng-container>
      <ng-container *ngIf='doneTasksLoadMore$ | async'>
        <tm-load-more-button (onLoad)='handleLoadMore(tasksStatusEnum.Done)'></tm-load-more-button>
      </ng-container>
    </div>
  </div>

  <div class='tasks__container'>
    <tm-tasks-list-header
      title='Rejected'
      (onAdd)='handleAddTask(tasksStatusEnum.Aborted)'
    ></tm-tasks-list-header>

    <div
      cdkDropList
      [id]='tasksStatusEnum.Aborted'
      [cdkDropListData]='rejectedTasks$ | async'
      class='tasks__container--list'
      (cdkDropListDropped)='handleDropTask($event)'
    >
      <ng-container *ngFor='let item of rejectedTasks$ | async'>
        <tm-task
          [task]='item'
          (onEdit)='handleEditTask(item)'
          (onDelete)='handleDeleteTask(item)'
        ></tm-task>
      </ng-container>
      <ng-container *ngIf='rejectedTasksLoadMore$ | async'>
        <tm-load-more-button (onLoad)='handleLoadMore(tasksStatusEnum.Aborted)'></tm-load-more-button>
      </ng-container>
    </div>
  </div>

</div>
