@import "src/styles/variables"
@import "src/styles/breakpoints"
@import "src/styles/mixins"

.nav
  height: 3rem
  background: $primary-background-color
  padding: 0.5rem 5rem
  box-shadow: $box-shadow-bottom
  position: relative
  z-index: 200

  @include sm
    padding: 0.5rem 1rem

  &__content
    max-width: $max-layout-width
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    margin: auto

  &__logo
    color: white
    font-size: 1rem
    font-weight: bold
    height: 100%
    display: flex
    align-items: center

    > img
      height: 40px

  &__action
    height: 2.6rem

  &__actions
    display: flex
    align-items: center

    *:not(:last-child)
      padding-right: 8px

    &--icon
      @include buttonIconSpan('small')

  &__panel
    position: absolute
    top: 4rem
    right: 0
    padding: 1rem

