<section class="features">
  <h2 class="features--title">What we offer?</h2>
  <ng-container *ngFor="let value of arrayOfValues; let odd = odd">
    <div class="features__section">
      <img *ngIf="odd" class="features__section--image" [src]="value.imageSrc" [alt]="value.title" />
      <div class="features__section--description">
        <h4>
          {{value.title}}
        </h4>
        <p>
         {{value.description}}
        </p>
      </div>
      <img *ngIf="!odd" class="features__section--image" [src]="value.imageSrc" [alt]="value.title" />
    </div>
  </ng-container>
</section>
